<!Doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
    <head>
        <meta charset="UTF-8"/>
        <title>Charger le fichier CSV</title>
    </head>
    <body>
    <div layout:fragment="content">
        <div class="row mt-5">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card text-white  mb-3">
                    <div class="card-header bg-success text-center">Charger un fichier au Csv</div>
                    <div class="card-body">
                        <form action="/cdr-upload" method="post" enctype="multipart/form-data">
                            <div class="mb-3 row">
                                <label for="quotient" class="text-black col-sm-2 col-form-label">Quotient</label>
                                <div class="col-sm-10">
                                    <input type="number" id="quotient" name="quotient" class="form-control" required placeholder="Entrez le quotient...">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-12">
                                    <input type="file" id="file" name="file" class="form-control"  required>
                                </div>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-success text-white bold" >Traiter le fichier</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-3"></div>
        </div>
    </div>

    </body>
</html>