<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
    <head>
        <meta charset="UTF-8"/>
        <title>Télécharger le fichier CSV</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="alert alert-danger text-center" role="alert" th:if="${!responseMessage.success} ">
                        <span th:text="${responseMessage.message}"/>
                    </div>

                    <p class="text-center mt-5" th:if="${!responseMessage.success}">
                        <a class="btn btn-primary" href="/cdr"> Retour au Formulaire</a>
                    </p>

                    <div class="alert alert-success text-center" role="alert" th:if="${responseMessage.success}">
                        <span th:text="${responseMessage.message}"/>
                    </div>

                    <p class="text-center mt-5" th:if="${responseMessage.success}">
                        <a class="btn btn-success" th:href="${'/cdr-download/' + filename}">Telecharger le fichier</a>
                    </p>

                </div>
                <div class="col-3"></div>
            </div>
        </div>

    </body>
</html>